.allForumsCategory {
	padding: 20px 60px 0;

	h2 {
		margin-bottom: 10px;
		font-size: 28px;
		line-height: 60px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	}

	.category-item {
		background-color: #fff;
		padding: 0 16px;
		height: 48px;
		color: rgba(0, 0, 0, 0.75);
		cursor: pointer;

		&.active {
			height: auto;
			padding-bottom: 0;

			.category-header {
				background-color: #fff;
				position: sticky;
				top: 48px;
				z-index: 2;
			}
		}

		.category-header {
			display: flex;
			padding: 16px 0;
			justify-content: space-between;
		}
	}

	.inactive {
		.category-forums-list {
			height: 0;
			overflow: hidden;
		}
	}

	.active {
		.category-forums-list {
			height: 520px;
		}

		.category-forums-item a {
			display: flex;
			padding: 8px 0;
			justify-content: space-between;
			align-items: center;

			.forum-logo {
				width: 28px;
				height: 28px;
				margin-right: 10px;

				img {
					width: 100%;
					border-radius: 50%;
				}
			}

			.forum-name {
				color: #000;
				line-height: 22px;
			}
		}
	}
}
