body {
	background-color: #00324e;
	color: rgba(255, 255, 255, 0.75);
	font-family: Roboto;
}

.body-container {
	display: flex;
	max-width: 1280px;
	margin: auto;
	padding-top: 68px;
}

.forum-follow {
	background-color: rgb(51, 151, 207);
	margin-left: auto;
	padding: 0 14px;
	color: #fff;
	font-size: 14px;
	line-height: 36px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s;

	&:hover {
		opacity: 0.9;
	}
}
